body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.info {
  color: #ff5722;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
